#!javascript
$ node
<html>
<body>

<style>
</style>
<p>Enter names in the fields, then enter the request (all in english). Please be very specific to allow the complex algorithm give the most accurate answer. Once you are done, click "Submit" to submit the form:</p>

<form id="frm1" action="/action_page.php">
  Who is making the request: <input type="text" name="asker"><br>
  Who is receiving the request: <input type="text" name="receiver"><br><br>
  The request: <input type="text" name="receiver"><br><br><br>

  <input type="button" onclick="myFunction()" value="Submit">
</form>

<img id="image" src="img/picture.png" alt="yo dot" style="visibility:hidden">
<button type="button"
        onclick="startGame()" id="btnID">
  Start Game
</button>

<div id="year_guess" class="slidecontainer">
  <input type="range" min="1900" max="2022" value="1960" class="slider" id="myRange" oninput="sliderChange(this.value)">
  <output id="slider_year"></output>
</div>

<button type="button"
        onclick="guess()" id="year_button">
  Submit guess
</button>
<p id="message"></p>
<p id="score" style="visibility:hidden"></p>
<p id="current_year" style="visibility:hidden"></p>
<p id="num_guesses" style="visibility:hidden"></p>

<script>

  function sliderChange(val) {
    document.getElementById('slider_year').innerHTML = val;
  }
  document.getElementById('slider_year').value = "1960";

  function guess() {
    form_result = document.getElementById("slider_year");
    year = form_result.value
    actual_year = document.getElementById('current_year').innerHTML + ""

    if (year === actual_year){
      document.getElementById('message').innerHTML = "good job";
      score = document.getElementById("score").value
      score = score + 1000
      document.getElementById("score").value = score
    }
    else{
      document.getElementById('message').innerHTML = "wrong bro";
    }

    guesses = document.getElementById('num_guesses').value;
    guesses = guesses + 1

    if (guesses === 2) {
      score = document.getElementById("score").value
      document.getElementById('message').innerHTML = "thanks for playing bro, score is " + score;
      document.getElementById('year_button')
              .style.visibility = "hidden";
      return
    }

    document.getElementById("num_guesses").value = guesses
    console.log("guesses:", document.getElementById("num_guesses").value)
    changeImage()


  }

  function startGame(){
    document.getElementById("num_guesses").value = 0
    document.getElementById("score").value = 0
    changeImage()

  }

  function changeImage(){
    var randomnumber = Math.floor(Math.random() * (2));
    current_year = document.getElementById('current_year').innerHTML;
    if (current_year === "1948") {
      document.getElementById('current_year').innerHTML = "1960";
      year = 1960
    }
    else if (current_year === "1960") {
      document.getElementById('current_year').innerHTML = "1948";
      year = 1948
    }
    else {
      if (randomnumber === 1) {
        year = 1948
        document.getElementById('current_year').innerHTML = "1948";
      } else {
        document.getElementById('current_year').innerHTML = "1960";
        year = 1960
      }
    }
    console.log("year selected is ", year)
    var randomYear = Math.floor(Math.random() * (2022 - 1900 + 1)) + 1900;
    yearString = year.toString()
    srcURL = "img/" + yearString + "/1.png"
    document.getElementById("image").src=srcURL;
    document.getElementById("image").style.visibility="visible";
    console.log(document.getElementById("current_year").innerHTML)

  }

  // function show() {
  //   var year;
  //   var actual;
  //   guesses = document.getElementById('num_guesses').value;
  //   while (guesses < 2) {
  //     guesses = document.getElementById('num_guesses').value;
  //     console.log(guesses)
  //     var randomYear = Math.floor(Math.random() * (2022 - 1900 + 1)) + 1900;
  //   }
  //
  //   /* Access image by id and change
  //   the display property to block*/
  //   document.getElementById('image')
  //           .style.visibility = "visible";
  //
  //   document.getElementById('message').innerHTML = "thanks for playing bro, score is 1000";
  //
  // }

  function myFunction() {
    form_result = document.getElementById("frm1");
    asker = form_result.asker.value
    if (asker === "Eran" || asker === "eran") {
      rand_num = Math.floor(Math.random() * 10);
      if (rand_num <= 7){
        document.write("Request is legitimate!")
      }
      else{
        document.write("Request is not legitimate!")
      }

    }
    else{
      rand_num = Math.floor(Math.random() * 10);
      if (rand_num <= 5){
        document.write("Request is legitimate!")
      }
      else{
        document.write("Request is not legitimate!")
      }
    }
  }
</script>

</body>
</html>